/********************************************************************
********************************************************************


Website Name:   |            Personal Website
                |
Website Author: |    ->      Huzeir Kurpejovic
                |
Copyright 2020: |           All Rights Reserved



Color Guide
***********


Typography Guide
***********
1. home.html
2. about.html
3. contact.html

style.css
reset.css

*********************************************************************/

/*--------------------------------------------------------------------
0.  CSS Reset
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
----------------------------------------------------------------------
----------------------------------------------------------------------*/

/*- start -*/


/*- main elements -*/


section{
    margin: 0 auto;
    
}

section h2{
    text-align: center;
    padding: 100px;
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}


article {
    margin: 0 auto;
    padding: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}

article ul{
    line-height: 70px;
}

article li{
    margin-left: 50px;
}

#thing1{
  background-color: black;  
}


#thing2{
  background-color: black;  
}


#thing3{
  background-color: black;  
}


#thing4{
  background-color: black;  
}


#thing5{
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}



