/********************************************************************
********************************************************************


Website Name:   |   St. Clair College Mobile Applications
                |      Mobile Applications Development
                |              Final Project - 
                |         MOBILE-FRIENDLY STYLESHEET
                |
Website Author: |    ->      Huzeir Kurpejovic
                |
Copyright 2020: |           All Rights Reserved



Color Guide
***********
1. Primary Brand Colour: GREEN
    HEX CODE: 00693C
    RGB: 0, 105, 60
    CMYK: 100, 0, 91, 42

2. Primary Brand Colour: YELLOW
    HEX CODE: FDC82F
    RGB: 253, 200, 47
    CMYK: 0%, 24%, 94%, 0%

Typography Guide
***********
1. St. Clair MAD - HOME
2. St. Clair MAD - PROGRAM
3. St. Clair MAD - STAFF
4. St. Clair MAD - FAQ

*********************************************************************/

/*--------------------------------------------------------------------
0.  CSS Reset
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
----------------------------------------------------------------------
----------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}