/********************************************************************
********************************************************************


Website Name:   |            Personal Website
                |
Website Author: |    ->      Huzeir Kurpejovic
                |
Copyright 2020: |           All Rights Reserved



Color Guide
***********


Typography Guide
***********
1. home.html
2. about.html
3. contact.html

style.css
reset.css

*********************************************************************/

/*--------------------------------------------------------------------
0.  CSS Reset
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
----------------------------------------------------------------------
----------------------------------------------------------------------*/

/*- start -*/


/*- main elements -*/

h2{
    font-size: 24px;
}

ul{
    padding: 10px;
    font-size: 20px;
    
}

li{
    list-style-type: square;
    padding-left: 10px;
    
}

p{
    font-size: 20px;
}





/*- elements encasing the main elements -*/

header{
    padding: 20px;
    background-color: antiquewhite;
    position: sticky;
}

header img{
    width: 5%;
    float: left;
    padding: 10px;
    position: relative;
    
}


header nav ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

header nav ul li{
    display: inline;
    float: right;
    letter-spacing: 2px;
}

header nav ul li a {
     display: block;
  color: black;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
}

header li a:hover{
    background-color: #111;
    color: white;
}

header nav ul li a:active{
    background-color: gray;
}

header h2 {
    padding: 24px 16px;
    text-align: center;
    display: inline;
    font-size: 24px;
    float: left;
    font-family: 'Playfair Display', serif;
}

section{
    margin: 0 auto;
    background-color: #111;
    color: white;
    
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

section h2{
    font-size: 36px;
    color: white;
    
}



article{
    margin: 0 auto;
    padding: 40px;
    letter-spacing: 1px;
    line-height: 40px;
    
    font-family: 'Noto Sans KR', sans-serif;
    
}



#card{
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    font-family: 'Playfair Display', serif;
}

#card img {
    position: relative;
    left: 200px;
    bottom: 30px;
    border-radius: 1000px;
    width: 13%;
    float: left;
    padding: 20px 20px;
    
}

#card h3{
    font-size: 36px;
    line-height: 90px;
    text-align: center;
    margin: 0px 200px 0px 0px;
}

#card h4 {
    float: ;
    font-size: 36px;
    line-height: 90px;
    text-align: center;
    margin: 0px 200px 0px 0px;
}

#piece1{
    margin: 0 auto;
    text-align: center;
    background: black;
    padding: 100px;
}

#piece2{
    margin: 0 aut;
    text-align: center;
    background: black;
    padding: 100px;
}

#piece3{
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    padding: 100px;
}


footer{
    text-align: center;
    border-top: 5px solid antiquewhite;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    font-family: 'Playfair Display', serif;
}

/*- end -*/
